@import url('https://fonts.googleapis.com/css?family=Comfortaa%27');

.main-page-item3-container{
    display: grid;
    font-family: Comfortaa;
    grid-template-columns: repeat( auto-fit, minmax( 500px, 2fr));
}

.main-page-item3-lefft{
    width: 100%;
    margin-left: 50px;
}

.main-page-item3-right{
    font-size: 30px;
    margin-left: 170px;
    width: 100%;
}

.main-page-iten3-right-title{
    margin-left: 125px;
    font-weight: bold;
    text-decoration: underline;
}