@font-face {
  font-family: Comfortaa;
  src: url(../../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

.styledText {
  font-family: Comfortaa;
  font-weight: 100;
  font-size: 5em;
  text-align: center;
  margin: 0;
}

.comfortaa {
  font-family: Comfortaa;
}

html,
body {
  height: 100%;
  margin: 0px;
}

/* html {
  overflow-y: hidden;
} */

#root {
  height: 100%;
}

.profileSection {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  height: 100%;
  align-items: center;
}

.mainAreaContainer {
  display: flex;
}

.createdJobContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
}

#jobOfferButton {
  width: 90%;
  height: 3.5em;
  font-size: 1.2em;
  padding-left: 1.5em;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  margin-bottom: 1.5em;
  background-color: white;
}

#jobOfferInputField::placeholder {
  color: black;
}

.blur {
  filter: blur(5px);
}
