.profile-bar-container {
  display: grid;
  background-color: #ea5455;
  border-radius: 20px;
  color: aliceblue;
  font-size: 18px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}

.profile-bar-left-item {
  display: flex;
  font-size: 85%;
  justify-content: flex-end;
  width: 70%;
}

.profile-bar-right-item {
  color: black;
  width: 100%;
  font-size: 85%;
  position: relative;
}

.profile-bar-right-item-btn {
  width: 80px;
  height: 40px;
  font-size: 20px;
  border-radius: 7px;
  margin-bottom: 5px;
  border: 0px;
}
.profile-bar-button-container {
  width: 200%;
}
.profile-bar-edit-button {
  background: #2d4059;
  border-radius: 20px;
  width: 50%;
  height: 40px;
  color: white;
  font-size: 20px;
}
