@import url('https://fonts.googleapis.com/css?family=Comfortaa%27');

.findjob-page-overflow{
    height: 100vh;
    overflow-y: scroll;
}

.find-job-page-searchbar{
    height: 400px;
}
.find-job-page-top-container{
    display: flex;
    justify-content: center;
    font-family: Comfortaa;
    font-size: 50px;
    width: 100%;
}

.find-job-page-top-text{
    width: 100%;
    padding-left: 3%;
}

.find-job-page-top-img{
    width: 50%;
}

.find-job-page-content-container{
    display: grid;
    background-color: chartreuse;
    grid-template-columns: repeat( auto-fit, minmax( 400px, 3fr));
}

.find-job-page-content-container{
    background-color: blueviolet;
    padding-left: 3%;
}

.find-job-page-list-item{
    height: 100px;
}
.find-job-page-job-list-container{
    background-color: crimson;
}
.find-job-page-job-deatail-container{
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
}   

