
.job-description-card-container{
    display: flex;
    background-color: #2D4059;
    border-radius: 20px;
    justify-content: space-between;
    height: 100%;
}

.job-description-card-profile{
    margin-left: 20px;
}

.job-description-card-detail{
    font-size: 140%;
    margin-top: -0.3%;
    margin-left: 1%;
    width: 85%;
 
}

.job-description-button{
    background: #FFFFFF;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50px;
}

.job-description-card-status{
    display: flex;
    height: 10%;
    font-size: 15px;
    margin-top: -22px;
}