@font-face {
  font-family: Comfortaa;
  src: url(../../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

.styledText {
  font-family: Comfortaa;
  font-weight: 100;
  font-size: 5em;
  text-align: center;
  margin: 0;
}

.comfortaa {
  font-family: Comfortaa;
}

#mainAreaBackground {
  height: 100%;
  width: 100%;
  background-image: url("../../images/redCurve.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 2.5em;
  display: flex;
  align-items: flex-start;
}

html,
body {
  height: 100%;
  margin: 0px;
}

html {
  overflow-y: hidden;
}

#root {
  height: 100%;
}

.contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 1.5em 0 15%;
}

.contentContainer > h1:nth-of-type(1) {
  color: #fb0000;
  font-weight: 300;
}

.contentContainer > h1:nth-of-type(2) {
  font-size: 4.5em;
  font-weight: 300;
}

.contentContainer > h2 {
  margin-top: 2.5em;
  font-weight: 200;
}

.contentContainer > h3 {
  font-weight: 200;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.textInput {
  width: 110%;
  height: 3.5em;
  margin: 0 auto;
  color: #3964b6;
  box-sizing: border-box;
  padding-left: 2.5em;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.textInput::placeholder {
  color: #3964b6;
}

.buttonContainer {
  display: flex;
  margin-top: 2.5em;
}

.button {
  width: 50%;
  font-size: 1.2em;
  height: 3.5em;
  border-radius: 6px;
  background-color: #fafafa;
  margin-right: 2.5em;
}

#cancelButton {
  color: #3964b6;
}

#findAccountButton {
  position: absolute;
  margin-right: 0;
  right: -10%;
  background-color: #2d4059;
  color: #fafafa;
}
