@font-face {
  font-family: Comfortaa;
  src: url(../../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

.createdJobsContainer {
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 15em;
  background-color: #2d4059;
  border-radius: 20px;
  padding-left: 1.5em;
  box-sizing: border-box;
  margin-bottom: 1.5em;
}

.createdJobsContainer > h2:nth-of-type(1) {
  margin-top: 1em;
}

.createdJobsContainer > h2 {
  margin: 0.3em 0;
}

.comfortaa {
  font-family: Comfortaa;
}

.whiteLight {
  color: white;
  font-weight: lighter;
}

.greyLight {
  color: #bcbaba;
  font-weight: lighter;
}

#editJobButton {
  margin-top: 1.5em;
  width: 15%;
  height: 2.5em;
  border-radius: 7px;
  outline: none;
  font-size: 1.2em;
  background-color: #59302d;
  color: white;
}
