@import url('https://fonts.googleapis.com/css?family=Comfortaa%27');

.searchbar-container{
    background-color: #2D4059;
    width: 90%;
    height: 100%;
    font-family: Comfortaa;
}

.searchbar-head-font{
    font-size: 24px;
    color: white;
    text-align: center;
}

.searchbar-content-container{
    display: flex;
    justify-content: flex-start;
    background-color: aqua;
}

.searchbar-content-container{
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.find-job-page-list-item{
    height: 60%;
    margin-top: 15px;
}

.seachbar-button-style{
    margin-top: -10px;
    background-color: aqua;
}