@import url('https://fonts.googleapis.com/css?family=Comfortaa%27');


.user-profile-page-container{
    display: flex;
    font-family: Comfortaa;
    height: 100vh;
    overflow-y: scroll !important;
}

.user-profile-head-font{
    font-size: 40px;
    font-weight: bold;
}

.user-profile-left-item{
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 50%;
}

.user-profile-content{
    width: 100%;
    margin-left: 7%;
}

.user-profile-right-item{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.user-profile-jobs-container{
    width: 90%;
}

.item{
    margin-top: 20px;
    height: 180px;
}