@import url('https://fonts.googleapis.com/css?family=Comfortaa%27');


.User-profile-page-container{
    background-color: aqua;
    display: flex;
    font-family: Comfortaa;
}

.user-profile-head-font{
    font-size: 40px;
    font-weight: bold;
}

.user-profile-left-item{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 50%;
}

.user-profile-content{
    width: 90%;
}

.user-profile-right-item{
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.user-profile-jobs-container{
    background-color: coral;
    width: 90%;
}

.item{
    margin-top: 20px;
    background-color: blanchedalmond;
    height: 180px;
}